    <!-- footer -->
    <div class="l-footer clearfix">
        <div class="l-inner">
            <nav class="navigation">
                <ul class="navigation__social">
                    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-soundcloud"></i></a></li>
                </ul>
            </nav>
            <div class="copyright">&copy; 2015 ARTIST NAME. ALL RIGHTS RESERVED</div>
        </div>
    </div>
    <!-- /footer -->

    <!-- single player (don't delete) -->
    <div id="jquery_jplayer_N" class="jp-jplayer"></div>
    <div id="jp_container_N" class="jp-audio"></div>
    <!-- / single player -->

    <!-- playlist player (don't delete) -->
    <div id="jquery_jplayer_Playlist" class="jp-jplayer"></div>
    <div id="jp_container_Playlist" class="jp-audio"></div>
    <!-- / playlist player -->


    <!-- =====================================================================
    JS - Placed at the bottom of the page so site loads faster
    ========================================================================== -->
    <script src="js/vendor/modernizr-2.8.3.js"></script>
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="js/plugins/jplayer/jplayer/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="js/plugins/jplayer/add-on/jplayer.playlist.min.js"></script>
    <script type="text/javascript" src="js/audio.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>