//
// Grid Variables

.grid {
	margin: 0 (-$column-gutter);
}
	
	.grid:before,
	.grid:after {
		content: "";
		display: table;
	}

	.grid:after {
		clear: both;
	}

.grid__column {
	padding: 0 $column-gutter;

		@include respond-min($bp-large) {
			float: left;
		}
}

		.grid--1to2 > .grid__column {
			@include respond-min($bp-large) {
				width: 50%;
			}
		}

		.grid--1to3 > .grid__column {
			@include respond-min($bp-large) {
				width: 33.3333333%;
			}
		}

		.grid--1to4 > .grid__column {
			@include respond-min($bp-large) {
				width: 25%;
			}
		}

		.grid--1to6 > .grid__column {
			@include respond-min($bp-large) {
				width: 16.66666666666667%;
			}
		}

		.grid--1to2 > .grid__column:nth-of-type(2n+1),
		.grid--1to3 > .grid__column:nth-of-type(3n+1),
		.grid--1to4 > .grid__column:nth-of-type(4n+1),
		.grid--1to6 > .grid__column:nth-of-type(6n+1) {
			clear: left;
		}	







.social-mash {
	width: 100%;
	//max-width: 1210px;
	margin: 0 auto;
}

.social-mash-row {
  margin-bottom: 10px;
}

  .social-mash-row:last-of-type {
  	margin-bottom: 0;
  }

.social-mash__tile {
	float: left;
	padding: 0 5px;
}

.social-mash__tile:first-child {
	padding-left: 0;
}

.social-mash__tile:last-child {
	padding-right: 0;
}

.social-mash__content {
	position: relative;
	height: 340px;
}

.social-mash__tile--twitter {
	//width: 20.7583333%;
	width: 21%;
}

  .social-mash__tile--twitter .social-mash__content {
  	padding: 20px 30px;
  }

.social-mash__tile--twitter .social-mash__content {
  background-color: $color-gold;
}

.social-mash__tile--instagram {
	//width: 28.333333%;
	width: 28%;
}

.social-mash__tile--instagram .social-mash__content {
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}

.social-mash__tile--yt {
	//width: 49.5%;
	width: 51%;
}

.social-mash__tile--yt .social-mash__content {
	background-color: #ccc;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;	
	text-align: center;
}


.social-mash .fa-twitter {
	font-size: 24px;
	color: #fff;
	margin-bottom: 35px;
}

.social-mash .twitter-name {
	font-family: $display-font;
	font-size: 16px;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: .02em;
	a {
		color: #000;
	}
}

.social-mash .twitter-message {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
}

.social-mash .twitter-timestamp {
	position: absolute;
	bottom: 35px;
	left: 30px;
	font-size: 11px;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #735f0f;
}

.social-mash .fa-instagram {
	padding: 20px;
	font-size: 21px;
	color: #fff;
	background-color: #000;
	float: right;
}

.social-mash .fa-play-circle {
	font-size: 68px;
	color: #fff;
	top: 50%;
  transform: translateY(-50%);
  position: relative;
}

