
.media--video__content {
  z-index: 5000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  transition: transform .5s opacity;
  background-color: rgba(0,0,0,.95);
}

.layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
}

.media--video__content .close {
  background-color: #222;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.media--video__content .close:before,
.media--video__content .close:after {
  position: absolute;
  top: 20px;
  right: 15px;
}

.media--video__content .close:before {
	content: '';
	background-color: #fff;
	width: 30px;
	height: 2px;
	display: block;
	background: #fff;
	margin: 8px 0 5px;
	transform: rotate(45deg);
}

.media--video__content .close:after {
	content: '';
	background-color: #fff;
	width: 30px;
	height: 2px;
	display: block;
	background: #fff;
	margin: 8px 0 0;
	transform: rotate(-45deg);
}