$theme-color: $color-gold;

.u-overlay {
	background-color: $theme-color;
	background-color: rgba(202,168,76,.8);
}

.nav-3 .logo,
.hamburger,
.social-mash__tile--twitter .social-mash__content {
	background-color: $theme-color;
}

.b-text .fa-play-circle,
.tour__month,
.track-number,
.album__year,
.b-text .fa {
	color: $theme-color;
}

.button--theme {
	background-color: $theme-color;
	  &:hover, &:focus {
	  	background-color: $theme-color;
	  }
}

.button:hover,
.button:focus {
  color: #fff;
  background-color: $theme-color;
}

.tracks li:hover {
	background-color: #ededeb;
}

.hover-overlay {
	background: rgba(202,168,76,.5);
}
