/* 
  Background Color Mixin */
@mixin background-color($color, $opacity: 1) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}

/*
Red: #ff4a4a
Blue: #2196F3
Orange: #FF9800
Dark Blue: #01579B
Green: #4caf50
Brown: #795548
Purple: #9c27b0
Pink: #ec407a
Gold: #caa84c
Turquoise: #50c7c1
*/

$theme-color: #ff4a4a;

/* Navigation */
.navigation li a:hover {
	color: $theme-color;
}

//.nav-3 .logo,
.hamburger,
.hamburger.close span.slice1, 
.hamburger.close span.slice3 {
	background: $theme-color;
}


/* Icons */
.social-links--inline .social-link .fa,
.b-text .fa-play-circle,
.b-text .fa,
.media__playlist-item:hover:before,
.js-action-is-playing:before {
	color: $theme-color;
}


/* Text */
.tour__month,
.playlist-number,
.b-meta,
.b-text a,
.b-section a {
	color: $theme-color;	
}
.b-text .pullquote { 
	border-color: $theme-color;
}


.u-overlay {
	@include background-color($theme-color, 0.8);
}


.social-mash__tile--twitter .social-mash__content {
	background-color: $theme-color;
}


/* Buttons */
.button--theme {
	background-color: $theme-color;
	  &:hover, &:focus {
	  	background-color: $theme-color;
	  }
}


.button:hover,
.button:focus {
  color: #fff;
  background-color: $theme-color;
}

.button--inverse-theme {
  border: 3px solid $theme-color;
    &:hover, &:focus {
      background-color: $theme-color;
      color: #fff;
    }
}

.button--inverse-white {
  &:hover, &:focus {
    color: $theme-color;
  }
}

.js-banner-track-is-active,
.banner__action-btn:hover {
	color: $theme-color;
}



.media__playlist-item:hover {
	background-color: #ededeb;
}

.hover-overlay {
	@include background-color($theme-color, 0.5);
}


.tabs li.is-selected {
	border-color: $theme-color;
}


.banner__subtitle {
	color: $theme-color;
}



.bar {
	background-color: $theme-color;
}
