//------------------------------------*\
//    $MEDIA
//------------------------------------*/

.media .b-text {
  font-family: $body-font;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .02em;
	margin-top: 25px;
	overflow: hidden;	
}

.media .fa-play-circle {
	float: left;
	margin-right: 12px;
	font-size: 30px;
}

.media__thumb {
	position: relative;
}

.media__title {
  float: left;
  color: #000;
  width: 170px;
}

  .inverse .media__title {
  	color: #fff;
  }


.media__time {
	float: right;
	font-weight: 300;
	color: #999;	
}


//------------------------------------*\
//    $MEDIA - SINGLES
//------------------------------------*/

.media--single .block-thumb {
  margin: 0 auto 55px;
  max-width: 415px;
    &:last-child {
    	margin-bottom: 0;
    }	
}

.grid--first-row .block-thumb {
	@include respond-min($bp-large) {
		margin-bottom: 0;
	}  
}



.single__cover {
	position: relative;
}





//------------------------------------*\
//    $MEDIA - VIDEO
//------------------------------------*/

.media--video {
  margin: 0 auto 55px;
    &:last-child {
    	margin-bottom: 0;
    }
}

.media--video .grid {
	@include respond-min($bp-medium) {
		margin-top: 60px;
		 &.grid--first-row {
		 	margin-top: 0;
		 }
	}
}

.media--video .fa-play-circle {
	font-size: 68px;
	color: #fff;
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 58px;
  height: 68px;
}

.media--video .media__block {
	position: relative;
	margin-bottom: 60px;
	@include respond-min($bp-medium) {
		margin-bottom: 0;
	}
}

  .media--video .b-text {
  	padding-bottom: 30px;
    border-bottom: 1px solid #dcd9d5;
  }

  .media--video .media__title {
  	width: auto;
  	max-width: 424px;
  }




//------------------------------------*\
//    $MEDIA - ALBUM
//------------------------------------*/

.media--album .media__block {
	margin-top: 75px;
	  @include respond-min($bp-large) {
	    margin-top: 100px;
	  }
}
.media--album .media__block:first-child {
  margin-top: 0;
}

.album__item {
	margin-top: 30px;
	@include respond-min($bp-large) {
		margin-top: 0;
	  padding-left: 30px;
	}
}
.media--album .block-text {
	overflow: hidden;
}

.media--album .social-links--inline {
	margin-top: 25px;
	overflow: hidden;
}

.media--album p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #444;
  text-align: center;
  margin-top: 75px;
}

.album__item {
	overflow: hidden;
}

.album__header {
	padding-bottom: 24px;
	border-bottom: 2px solid #000;
	overflow: hidden;
}

.album__title {
	float: left;
	padding-right: 20px;
	font-size: 24px;
	font-family: $display-font;
	letter-spacing: .14em;
}

.album__year {
	float: right;
	padding-right: 20px;
	font-size: 18px;
	line-height: 36px;
}

.tracks ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tracks li {
	padding: 20px;
	border-bottom: 1px solid #dcd9d5;
	overflow: hidden;
}

.track-title {
	font-size: 18px;
  float: left;
  letter-spacing: .02em;
  color: #000;
  width: 170px;
}

.track-number {
	float: left;
	margin-right: 38px;
	font-size: 18px;
}

.track-time {
	float: right;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: .02em;
	color: #999;
}


/* Social Links */
.social-links--inline .social-link {
	width: 33.33333%;
	float: left;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .2em;
	  &:first-child {
	  	text-align: left;
	  }
	  &:last-child {
	  	text-align: right;
	  }
	  a {
	  	color: #000;
	  }
	  .fa {
		  font-size: 20px;
		  margin-right: 7px;
	  }
}




