//------------------------------------*\
//    $MEDIA
//------------------------------------*/

.media .b-text {
  font-family: $body-font;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: .02em;
	margin-top: 25px;
	overflow: hidden;	
	position: relative;
}

.media .b-text a {
	text-decoration: none;
}

.media .fa-play-circle,
.button--media {
	float: left;
	margin-right: 12px;
	font-size: 30px;
	transition: none;
}

.media__thumb {
	position: relative;
}

.media__title {
  float: left;
  color: #000;
  width: 170px;
    width: 65%;

}

  .inverse .media__title {
  	color: #fff;
  }


.media__time {
	float: right;
	font-weight: 300;
	color: #999;	
}


//------------------------------------*\
//    $MEDIA - SINGLES
//------------------------------------*/

.media--single .block-thumb {
  margin: 0 auto 55px;
  max-width: 415px;
    &:last-child {
    	margin-bottom: 0;
    }	
}

.grid--first-row .block-thumb {
	@include respond-min($bp-large) {
		margin-bottom: 0;
	}  
}

.single__cover {
	position: relative;
}





//------------------------------------*\
//    $MEDIA - VIDEO
//------------------------------------*/

.media--video {
  margin: 0 auto 55px;
    &:last-child {
    	margin-bottom: 0;
    }
}

.media--video .grid {
	@include respond-min($bp-medium) {
		margin-top: 60px;
		 &.grid--first-row {
		 	margin-top: 0;
		 }
	}
}

.media--video .fa-play-circle {
	font-size: 68px;
	color: #fff;
	position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 58px;
  height: 68px;
}

.media--video .media__block {
	position: relative;
	margin-bottom: 60px;
	@include respond-min($bp-medium) {
		margin-bottom: 0;
	}
}

.media--video .media__block:hover .hover-overlay {
  visibility: visible;
}

  .media--video .b-text {
  	padding-bottom: 30px;
    border-bottom: 1px solid #dcd9d5;
  }

  .media--video .media__title {
  	@include respond-min($bp-medium) {
	  	width: auto;
	  	max-width: 424px;
	  }
  }

.js-play-video {
	cursor: pointer;
}



//------------------------------------*\
//    $MEDIA - ALBUM
//------------------------------------*/

.media--album .media__block {
	margin-top: 75px;
	  @include respond-min($bp-large) {
	    margin-top: 100px;
	  }
}
.media--album .media__block:first-child {
  margin-top: 0;
}


.media--album .block-text {
	overflow: hidden;
}

.media--album .media__artwork {
	@include respond-min($bp-medium) {
    max-width: 415px;
    margin: 0 auto;
    display: block;
  }
  @include respond-min($bp-large) {
  	max-width: 100%;
  	margin: 0;
  }
}

.media--album .social-links--inline {
	margin-top: 25px;
	overflow: hidden;
}

.media--album p {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  color: #444;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 45px;
	  @include respond-min($bp-large) {
			margin-top: 35px;
		}
}

.media--album-block {
	margin-top: 30px;
	overflow: hidden;
	@include respond-min($bp-large) {
		margin-top: 0;
	  padding-left: 30px;
	}
}

.media__header {
	padding-bottom: 24px;
	border-bottom: 2px solid #000;
	overflow: hidden;
}

.media--album .b-title {
	float: left;
	padding-right: 20px;
	font-size: 24px;
	font-family: $display-font;
	letter-spacing: .14em;
	text-align: left;
	line-height: 1.5;
	width: 75%;
}

.media--album .b-meta {
	float: right;
	padding-right: 20px;
	font-size: 18px;
	line-height: 36px;
}

.media--album .media__block .b-cta {
	margin-top: 30px;
	margin-bottom: 45px;
}

.media__playlist ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.media__playlist-item {
	padding: 20px;
	border-bottom: 1px solid #dcd9d5;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

  .no-touch .media__playlist-item:hover:before {
  	content: '\f144';
  	font-family: 'FontAwesome';
  	font-size: 30px;
  	width: 26px;
  	height: 30px;
  	position: absolute;
  	top: 10px;
    left: 15px;
  }

  .no-touch .js-action-is-playing .media__playlist-item:before {
  	visibility: hidden;
  }

  .js-action-is-waiting .playlist-number,
  .js-action-is-playing .playlist-number {
  	visibility: hidden;
  }


.playlist-number {
	float: left;
	margin-right: 12px;
	font-size: 18px;
	width: 25px;
	position: relative;
	  @include respond-min($bp-medium) {
	  	margin-right: 38px;
	  	width: auto;
	  }
}

  .no-touch .media__playlist-item:hover .playlist-number {
  	visibility: hidden;
  }

.playlist-title {
	font-size: 18px;
  float: left;
  letter-spacing: .02em;
  color: #000;
  width: 170px;
  width: 65%;
}

.playlist-time {
	float: right;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: .02em;
	color: #999;
}






.js-action {
	overflow: hidden;
	cursor: pointer;
}

/* 
  Track is active */
.js-is-active .playlist-number,
.js-is-active .button--media,
.js-is-active .button--media {
	visibility: hidden;
}
.media__playlist .js-is-active {
	background-color: #ededeb;
}


.js-state-of-track {
  width: 53px;
  height: 27px;
  position: absolute;
  top: 24px;
  left: 19px;
}

// Single 
.media--single .js-state-of-track {
    left: 10px;
    top: 4px;
    position: absolute;
}

.bar-c {
    overflow: hidden;
    height: 18px;
    width: 18px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    //visibility: hidden;
    transition: all .5 ease;
}

.bar {
  height: 1px;
  width: 5px;
  display: inline-block;
  background-color: #222;
  bottom: 0;
  position: absolute;
  animation-duration: 300ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.bar#bar-1 {
	height: 15px;
	left: 0;
}

.bar#bar-2 {
	height: 10px;
	left: 6px;
	animation-delay: .2s;
	animation-duration: 400ms;
}

.bar#bar-3 {
    left: 12px;
    height: 20px;
    animation-delay: .3s;
}


/*
  Track is loading */
.js-action-is-waiting .bar {
  height: 2px !important;
}

.no-touch .js-action-is-waiting:hover:before {
  display: none;
}



/* 
  Track is active */

.no-touch .js-active:hover:before {
  display: none;
}



.js-action-is-playing .bar#bar-1{
	animation-name:danceHeight1;
	animation-delay:100ms;
}
.js-action-is-playing .bar#bar-2{
	animation-name:danceHeight2;
	animation-delay:300ms;
}
.js-action-is-playing .bar#bar-3{
	animation-name:danceHeight3;
	animation-delay:500ms;
}

@keyframes danceHeight1{
	from{
		transform:translateY(0px);
	}
	to{
		transform:translateY(12px);
  }
}

@include respond-min($bp-medium) {
	@keyframes danceHeight1{
		from{
			transform:translateY(0px);
		}
		to{
			transform:translateY(15px);
	  }
	}
}

@keyframes danceHeight2{
	from{
		transform:translateY(0px);
	}
	to{
		transform:translateY(10px);
  }
}


@keyframes danceHeight3{
	from{
		transform:translateY(0px);
	}
	to{
		transform:translateY(15px);
  }
}

@include respond-min($bp-medium) {
	@keyframes danceHeight3{
		from{
			transform:translateY(0px);
		}
		to{
			transform:translateY(20px);
	  }
	}
}


