
.l-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1500;
}

  /* Navigation 2 */
  .l-header--2 {
  	text-align: left;
  	.logo {
  		float: left;
  	}
  	.navigation__links {
  		float: right;
  		margin-top: 2px;
  	}
  	.navigation__links a {
  		//font-size: 15px;
  		padding: 0 18px;
  	}
  }

  .l-header--3 {
  	text-align: left;
  	background-color: #000;
  	  .navigation--header {
	  		@include respond-min($bp-large) {
					padding: 0;
				}
	  	}
	  	.logo {
	  		float: left;
	  		width: 32.5%;
	  		padding: 35px 60px;
	  	}
	  	.logo img {
	  		float: right;
	  	}
	  	.navigation__links {
	  		float: left;
	  		padding: 35px 0 35px 92px;
	  		margin-top: 2px;
	  	}
	  	.navigation__social {
	  		float: left;
	  		padding: 28px 0 0;
	  	}
	  	.navigation__social a {
	  		color: #666;
	  	}
	  	.navigation__links a {
	  		font-size: 15px;
	  		padding: 0 18px;
	  	}
  }
  
.navigation {
	display: block;
	text-align: center;
	font-family: $body-font;
}

.navigation--header {
	display: none;
		@include respond-min($bp-large) {
			display: block;
			padding: 60px 0;
		}
}

.navigation ul {
	display: inline;
}

.navigation li {
	display: inline-block;
}

.navigation__links a {
	padding: 0 25px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	  @if $theme == hiphop {
      // default;
    } @else if $theme == pop {
      font-family: 'PT Sans Narrow';
      font-size: 15px;
      font-weight: 700;
    } @else {
      // default;
    }
}

.navigation__social a {
	padding: 0 12px;
	color: #fff;
	font-size: 24px;
}




/* Off Canvas */

.hamburger {
	color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 24px 20px;
	  @include respond-min($bp-large) {
	  	display: none;
	  }
}

.hamburger__icon {
	float: left;
}

.hamburger span {
  width: 30px;
	height: 2px;
	display: block;
	background: #fff;
	margin: 0 0 5px;
	//transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-backface-visibility: hidden;
	  -moz-backface-visibility: hidden;
	    -o-backface-visibility: hidden;
	      backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	  &:last-child {
	  	margin-bottom: 0;
	  }
}

.hamburger__title {
	float: left;
	font-size: 16px;
	letter-spacing: .2em;
	color: #fff;
	text-transform: uppercase;
	margin-right: 10px;
	line-height: 1;
}

.hamburger.close span {
	opacity: 0;
	filter: alpha(opacity=0);
	width: 16px;
}

.hamburger.close span.slice1 {
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	margin-top: 7px;
}
.hamburger.close span.slice3 {
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-top: -14px;
}

.hamburger.close span.slice1, 
.hamburger.close span.slice3 {
	background: #fff;
	opacity: 1;
	filter: alpha(opacity=100);
}

.hamburger.close .hamburger__title {
	margin-right: 6px;
}

.off-canvas {
  z-index: 1000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0; // magic number of header
  left: 0; 
  bottom: 0;
  transform: translate(0, -127%);
  transition: transform .5s; // controls speed coming up
  opacity: 1;
  margin-top: 0;
  background-color: rgba(0,0,0,.9);

  @include respond-min(65em) {
  	display: none;
  }

}

.off-canvas ul {
	margin: 0;
	padding: 0;
}

.off-canvas__list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .off-canvas__list ul {
   padding: 113px 20px 50px;
   margin: 0;
   text-align: center;
 }

 .off-canvas__list a,
 .off-canvas span {
   color: #fff;
   padding: 22px 0;
   font-size: 22px;
   line-height: 1;
   display: inline-block;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: .2em;
 }

 .off-canvas ul.navigation__social {
   padding: 0 20px 130px;
 }

 .off-canvas .navigation__social li {
 	display: inline-block;
 	margin: 0 15px;
 }

 .off-canvas .navigation__social a {
 	color: #666;
 	font-size: 34px;
 	padding: 0;
 	margin: 0 0 20px;
 }


/*Toggle Open/Close*/
.off-canvas.off-canvas-is-open {
  -webkit-overflow-scrolling: touch;
  transform: translate(0%,0%);
  opacity: 1;
  transition: transform .3s; // controls speed coming down
}

.hamburger.close {
	background-color: transparent;
}

.hamburger.close .hamburger__title {
	background-color: transparent;
	//display: none;
}

.hamburger.close .hamburger__icon {
	//display: none;
}