//------------------------------------*\
//    $SOCIAL MASH
//------------------------------------*/

.social-mash {
	width: 100%;
	//max-width: 1210px;
	margin: 0 auto;
	  @include respond-min($bp-large) {
	  	display: block;
	  }
}

.social-mash__row {
	  @include respond-min($bp-large) {
	  	margin-bottom: 10px;
	  }
}

  .social-mash__row:last-of-type {
  	margin-bottom: 0;
  }

.social-mash__tile {
	margin-bottom: 10px;
	@include respond-min($bp-large) {
  	float: left;
  	padding: 0 5px;
  	margin-bottom: 0;
  }
}

	.social-mash__tile:first-child {
		padding-left: 0;
	}

	.social-mash__tile:last-child {
		padding-right: 0;
	}

	.social-mash__row:last-child .social-mash__tile:last-of-type {
  	margin-bottom: 0;
  }

.social-mash__content {
	position: relative;
	@include respond-min($bp-large) {
	  height: 340px;
	}
}

/* Twitter Tile */
.social-mash__tile--twitter {

	@include respond-min($bp-large) {
		//width: 20.7583333%;
		width: 21%;
	}
}

  .social-mash__tile--twitter .social-mash__content {
  	padding: 20px 30px 45px;
	  	@include respond-min($bp-large) {
	  	  padding: 20px 30px;
	  	}
  }

	.social-mash .fa-twitter {
		font-size: 24px;
		color: #fff;
		margin-bottom: 35px;
	}

	.social-mash .twitter-name {
		font-family: $display-font;
		font-size: 16px;
		margin-bottom: 20px;
		letter-spacing: .02em;
			@if $theme == hiphop {
	      text-transform: uppercase;
	    } @else if $theme == pop {
	      // default;
	    } @else {
	      // default;
	    }

		a {
			color: #000;
		}
	}

	.social-mash .twitter-message {
		color: #fff;
		font-size: 16px;
		font-weight: 300;
		line-height: 28px;
		margin-bottom: 35px;
			@if $theme == hiphop {
	      // default;
	    } @else if $theme == pop {
	      font-size: 14px;
	      font-weight: 24px;
	    } @else {
	      // default;
	    }
		  @include respond-min($bp-large) {
		  	margin-bottom: 0;
		  }
	}

	.social-mash .twitter-timestamp {
		font-size: 11px;
		letter-spacing: .2em;
		text-transform: uppercase;
		color: #000;
		  @include respond-min($bp-large) {
		  	position: absolute;
		    bottom: 35px;
		    left: 30px;
		  }
	}

/* Instagram Tile */
.social-mash__tile--instagram {
		@include respond-min($bp-large) {
			//width: 28.333333%;
		  width: 28%;
		}
}

	.social-mash__tile--instagram .social-mash__content {
		padding-top: 100%; 
		background-color: #222;
		background-repeat: no-repeat;
		background-position: 50% 0;
		background-size: cover;
		  @include respond-min($bp-large) {
		  	padding-top: 0;
		  }
	}

	.social-mash .fa-instagram {
		padding: 20px;
		font-size: 21px;
		color: #fff;
		background-color: #000;
		position: absolute;
		right: 0;
		top: 0;
	}

/* Youtube Tile */
.social-mash__tile--yt {
	cursor: pointer;
		@include respond-min($bp-large) {
			//width: 49.5%;
	    width: 51%;
		}
}

	.social-mash__tile--yt .social-mash__content {
		padding-top: 56.25%;
		background-color: #ccc;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: cover;	
		text-align: center;
		  @include respond-min($bp-large) {
		  	padding-top: 0;
		  }
	}

	.social-mash .fa-play-circle {
		font-size: 68px;
		color: #fff;
		position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 58px;
    height: 68px;
	}